.logo-wrapper .t-logo .svg-logo {
    padding: 5px 8px 5px 20px;
    height: 39px;
    width: 39px;
}
.logo-wrapper .search-wrapper {
    float: right;
    padding-right: 5px;
}
.logo-wrapper .search-wrapper .search-field {
    width: 100%;
}

.panel {
    height: 100px;
}

.post-controls {
    vertical-align: top;
}
.date-notes {
    display: none;
}

.meta_data {
    color: #999;
    font-size: 13px;
    line-height: 18px;
    display: table-cell;
}

.meta_data a { text-decoration: none; }

.meta_data .media-left, .meta_data .media-body {
    display: table-cell;
    vertical-align: top;
}
.meta_data .media-object {
    display: block;
}
.meta_data .media-left {
    padding-right: 20px;
}
.meta_data .media-body {
    width: 10000px;
}

.meta_data .media {
    padding: 10px 20px 0px 20px;
}

.meta_data .media p {
    margin-top: 0px;
    margin-bottom: 5px;
}

.meta_data .avatar {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  height: 64px;
  width: 64px;
}
